<div class="title-bar" data-responsive-toggle="my-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="my-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="my-menu">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Scenecast4design</li>
    </ul>
  </div>
<div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="#">Scenecast</a>
      </li>
      <li>
        <a href="#">Add Video</a>
      </li>
      <li>
        <a href="#">Sign in</a>
      </li>
    </ul>
  </div>
</div>
