<div class="hero-section">
  <div class="hero-section-text">
    <h2><%= gettext "Welcome to %{name}!", name: "Scenecast4design" %></h2>
    <p class="lead">A convenient resource for scenic descriptions of video footage.</p>
  </div>
</div>

<h2>Login Page</h2>

<%= if @maybe_user == nil do %>
  <%= form_for @changeset, @action, fn f-> %>

    <div class="form-group">
      <%= label f, :username, class: "control-label" %>
      <%= text_input f, :username, class: "form-control" %>
      <%= error_tag f, :username %>
    </div>

    <div class="form-group">
      <%= label f, :password, class: "control-label" %>
      <%= text_input f, :password, class: "form-control" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>

  <% end %>
<% else %>
  <h1>Hello <%= @maybe_user.username%>!</h1>
  <span><%= link "Logout", to: page_path(@conn, :logout), method: :post%></span>
<% end %>

