.hero-section {
  background: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.2)
  ), url('https://source.unsplash.com/daily?landscape') 50% no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/* prevent flash of unstyled content (FOUC) */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
.no-js .title-bar {
    display: none;
  }
}

.callout:empty { display: none; }
